.addCity {
    background-color: #46bc74;
    width: 370px;
    height: 120px;
    padding: .5rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plus {
    text-align: center;
    font-size: 40px;
    color: #FED049;
    background-color: black;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}