
.city {
    background-color: #46bc74;
    width: 300px;
    height: 120px;
    padding: .8rem;
    border-radius: 18px;
    display: grid;
    grid-template-columns: 45% 15% 40%;
    grid-template-rows: 30% 70%;
    column-gap: 10px;
    animation: identifier .2s linear forwards;
    position: relative;
}


@keyframes identifier {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

.cityName {
    font-size: 24px;
    font-weight: 200;
    color: white;
    justify-self: center;
    align-self: self-end;
}

.countryName {
    background-color: #FED049;
    width: fit-content;
    height: fit-content;
    border-radius: 50px;
    font-weight: 600;
    font-size: 12px;
    justify-self: self-start;
    align-self: self-end;

}

.temprature {
    font-size: 60px;
    font-weight: 700;
    color: #0f1616;
    position: relative;
    width: fit-content;
    justify-self: center;
    align-self: center;
}

.temprature span:nth-child(1) {
    font-size: 30px;
    top: 0;
    right: -15px;
    position: absolute;
}

.temprature span:nth-child(2) {
    font-size: 30px;
    bottom: 10px;
    right: -25px;
    position: absolute;
}


.icon1 {
   justify-self: center;
}


.desc {
    font-size: 15px;
    color: #1e2c2c;
    opacity: .9;
    letter-spacing: 1.4px;
    justify-self: self-start;
    align-self: self-start;
    margin-top: .5rem;
    width: min-content;
}

.delete {
    position: absolute;
    right: 15px;
    bottom: 10px;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
    transition: .2s;
}

.delete:hover {
    stroke: #FED049;
}

@media screen and (min-width :650px ) {
    .city {
        width: 380px;
        height: 140px;
        padding: 1.5rem;
        border-radius: 15px;
    }
    .cityName {
        font-size: 26px;
    }
    
    .countryName {
        font-size: 15px;
    
    }
    
    .temprature {
        font-size: 85px;
    }
    
    
    .desc {
        font-size: 17px;
    }

    .temprature span:nth-child(1) {
        font-size: 35px;
        top: 0;
        right: -15px;
        position: absolute;
    }
    
    .temprature span:nth-child(2) {
        font-size: 40px;
        bottom: 10px;
        right: -30px;
        position: absolute;
    }

    .icon1 img {
        width: 130px;
     }
    
}

