.headeer {
    color: white;
    font-size: 50px;
    margin-top: 2.5rem;
    text-align: center;
}

.container {
    display: grid;
    justify-content: center;
    margin-top: 2rem ;
}

.topContent {
    background-color: #CFFDE1;
    width: 290px;
    height: 100px; 
    display: grid;
    justify-content: center;
    border-radius: 18px;
    margin-bottom: 4.5rem;
    justify-self: center;
    position: relative;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.inputText {
    width: 160px;
    height: 45px;
    margin-right: 10px;
    background-color: #68B984;
    border: 0px solid rgb(100, 100, 100);
    border-radius: 15px;
    font-family: monospace;
    font-size: 16px;
    text-align: center;
    transition: .3s;
}

.inputText::placeholder {
    font-size: 16px;
    color: #1e2c2c;
    text-align: center;
    opacity: .7;
}

.inputText:focus {
    outline: 0;
    box-shadow: #FED049 0px 0px 0.25em, #FED049 0px 0.25em 1em;
}

.submitButton {
    width: 45px;
    height: 45px;
    align-self: center;
    background-color: #FED049;
    color: rgb(23, 23, 23);
    font-family: monospace;
    border-radius: 15px;
    border: 0;
    cursor: pointer;
}

.error {
    background-color: #fe4949;
    color: #ffffff;
    padding: 4px 5px;
    border-radius: 5px;
    margin-top: .5rem;
    text-align: center;
    font-size: 13px;
    position: absolute;
    bottom: -30px;
    animation: animate .2s linear forwards;
}

@keyframes animate {
    0% {
        opacity: 0;
    }
    20% {
        scale: 1.2;
    }
    100% {
        opacity: 100%;
        scale: 1;
    }
}

.wellcomeBlock {
    justify-content: center;
    text-align: center;
}

.bottomContent {
    width: 100%;
}

.ulCity{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1.5rem;
    margin-bottom: 5rem;
}

@media screen and (min-width :900px ) {
    .headeer {
        font-size: 80px;
    }
    .topContent {
        background-color: #CFFDE1;
        width: 380px;
        height: 150px; 
    }
    .inputText {
        width: 220px;
        height: 50px;
        margin-right: 10px;
        border-radius: 15px;
        font-size: 20px;
    }
    
    .inputText::placeholder {
        font-size: 20px;
    }
    .submitButton {
        width: 50px;
        height: 50px;
        border-radius: 15px;
    }
    .submitButton img {
        width: 30px;
    }
    .error {
        margin-top: .5rem;
        font-size: 18px;
        bottom: -35px;
    }
    .ulCity{
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 1rem;
        column-gap: 1rem;
    }
}

@media screen and (min-width :1330px ){
    .ulCity{
        grid-template-columns: 1fr 1fr 1fr;
    }
}


